body h1 {
    font-size: 25px;
}

/*header*/

header{
    display: flex;
    flex-direction: column;
    align-items: center;
}

header img{
    padding-left: 15%;
}

header nav a {
    border-top: none;
    border-bottom: 3px solid white;
    color: black;
}

header nav a:hover {
    border-top: none;
    border-bottom: 3px solid blue;
    color: blue;
}

/*filtres*/

#entete {
    margin: 0 0 0 10px ;
}

#entete h1 {
    font-size: 25px;
}

.recherche {
    display: flex;
    justify-content: center;
    margin: 15px 0 0 0;
    border-radius: 15px;
}

#rechercher {
    display: none;
}

.recherche #location {
    font-size: larger;
    padding: 16px;
}

#search {
    width: 250px;
}

.recherche #loupe {
    display: inline-block;
    background-color: #0065FC;
    color: white;
    border: 1px solid #0065FC;
    padding: 10px;
    border-radius: 15px;
    font-size: larger;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
}

#filtres {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#filtres div {
    flex-wrap: wrap;
}

/*hebergements*/

#hebergements h2 {
    font-size: 18px;
}

#hebergements .card_prix {
    font-size: 15px;
}

/*hebergements_populaires*/

#hebergements_populaires .card a {
    width: 90%;
    height: 150px;
}    

#hebergements_populaires img {
    width: 120px;
}

/*hebergements_marseille*/

#hebergements_marseille {
    background-color: white;
}

#hebergements_hotels .card {
    width: 100%;
    height: 220px;
}

#hebergements_hotels img {
    height: 122px;
}

#hebergements_hotels .card_body div{
    line-height: 0px;
}

#hebergements_marseille_afficher {
    margin: 4% 4% 0 4%;
}

/*activites*/

#activites{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#activites div {
    width: 95%;
}

#activites div article {
    height: 180px;
    margin: 10px 0;
}

#activites div img {
    height: 122px;
}

#activites .moyenne img {
    height: 122px;
}

#activites .petite img {
    height: 122px;
}

#activites .moyen_petit img{
    height: 122px;
}

#activites .moyen_grand img{
    height: 122px;
}

/*footer*/

footer {
    margin-top: 3%;
    display: flex;
    flex-direction: column;
}

footer h1 {
    font-size: 18px;
}